<%- include("partials/header.ejs") %>

<div class="nav-bar">
  <ul>
    <li><a href="/products">Products</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/admin">Administration</a></li>
  </ul>
</div>

<%- include("partials/footer.ejs") %>