body {
  background-color: rgb(210, 210, 210);
}

.main-header {
  display: flex;
  justify-content: center;
}

.main-header a {
  color: black;
  text-decoration: none;
}

.login {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.login h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h1 {
  font-size: 4rem;
}

hr {
  margin: 0;
  margin-bottom: 1rem;
  border: 0.5rem solid rgb(0, 0, 0);
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.products-container, .products-filter {
  margin: 1rem 2rem;
}

.product {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  max-height: 200px;
}

.product-details h6 {
  width: 350px;
  white-space: nowrap;
  overflow:hidden ;
  text-overflow: ellipsis;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.add-form {
  display: flex;
  justify-content: center;
}

.add-form form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.add-btn {
  height: 3rem;
  width: fit-content;
  align-self: center;
  border: 2px solid gray;
  border-radius: 2rem;
  color: black;
  transition-duration: 250ms;
  transition-property: color, background-color;
}

.add-btn:hover {
  background-color: rgb(135, 135, 135);
  color: white;
}

.special-btn {
  width: 5rem;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}